<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 text-center">
        <p class="title">Mobile UI</p>
        <span><fa-icon [icon]="faMobile" size="5x" [styles]="{'color': 'gray'}"></fa-icon></span>
        <p>
            Use a Material Design theme on all devices, including Android 4.
        </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 text-center">
        <p class="title">Offline</p>
		<span><fa-icon [icon]="faSignal" size="5x" [styles]="{'color': 'gray'}"></fa-icon></span>
        <p>
            Stream the videos or download the videos to your devices for viewing offline.
        </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-center">
        <p class="title">Android</p>
		<span><fa-icon [icon]="faAndroid" size="5x" [styles]="{'color': 'gray'}"></fa-icon></span>
        <p>
            Work with most Android devices. It supports Android platform version 4.4 (Kitkat) or higher.
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 text-center">
          <p class="title">Free</p>
          <span><fa-icon [icon]="faGratipay" size="5x" [styles]="{'color': 'gray'}"></fa-icon></span>
          <p>
              The app is free without ads.
          </p>
      </div>
      <div class="col-md-2s"></div>
    </div>
</div>