<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 text-center">
        <p class="title">Mobile UI</p>
        <span><i class="fa fa-mobile fa-5x"></i></span>
        <p>
            Use a Material Design theme on all devices, including Android 4.
        </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 text-center">
        <p class="title">Offline</p>
        <span><i class="fa fa-signal fa-5x"></i></span>
        <p>
            Stream the videos or download the videos to your devices for viewing offline.
        </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-center">
        <p class="title">Android</p>
        <span><i class="fa fa-android fa-5x"></i></span>
        <p>
            Work with most Android devices. It supports Android platform version 4.4 (Kitkat) or higher.
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 text-center">
          <p class="title">Free</p>
          <span><i class="fa fa-gratipay fa-5x"></i></span>
          <p>
              The app is free without ads.
          </p>
      </div>
      <div class="col-md-2s"></div>
    </div>
</div>