<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="row">
    <div class="col-md-8">
      <div class="row no-gutters">
        <div class="col-md-12">
          <h1>Enjoy your Hentai collection anywhere and anytime.</h1>
          <p>H-DLR is an application that allows you to grab hentai episodes on streaming sites so you can watch them online (no need to download the episode before watching it) or offline (the episode is downloaded before you can watch it) on your android device. You can keep track of the episodes watched, add series in your favorites.</p>
        </div>
      </div>
      <div class="row no-gutters pt-3 pb-4">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-center">
          <download-app-button></download-app-button>
        </div>
        <div class="col-md-3 text-center">
          <a class="btn btn-outline-pink" href="#" [routerLink]="['/changelog']">
            <i class="fa fa-rss"></i>&nbsp;Changelog</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="https://www.reddit.com/r/AnimeDLR" target="_blank" class="btn btn-outline-pink">
            <i class="fa fa-question"></i>&nbsp;Help and support
          </a>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row no-gutters">
          <div class="col-md-12">
            <h3>Features</h3>
            <ul>
              <li>Multiple sources</li>
              <li>Bookmark series</li>
              <li>Stream or download videos</li>
              <li>Download queue</li>
            </ul>
          </div>
      </div>        
      <div class="row no-gutters">
          <div class="col-md-12">
            <h3>Disclaimer</h3>
            <p class="disclaimer">All of the free hentai found on this app are hosted on third-party servers that are freely available to watch online for all internet users. Any legal issues regarding the free online hentai should be taken up with the actual file hosts themselves, as we’re not affiliated with them. Copyrights and trademarks for the hentai, and other promotional materials are held by their respective owners and their use is allowed under the fair use clause of the Copyright Law.</p>
          </div>
      </div>        
    </div>
    <div class="col-md-4">
      <img src="assets/app.png" alt="" class="img-fluid">
    </div>
  </div>
</div>